
.element {
    margin: 50px;
    width: 200px;
    padding: 0px 16px 10px 0px;
    background-color: rgba(243, 247, 38, 0.76);
    box-shadow: 1px 1px 15px black;
}



.brand .h1-seo {
    font-size: 5em;
    color: rgb(246, 250, 1);
    text-shadow: 3px 3px 6px black;
    
}

.navbar-brand {
    width: 80px;
    padding: 0px 9px 8px 0px;
    background: rgba(244, 247, 38, 0.473);
} 

.clear-filter[filter-color="orange"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(92, 58, 245, 0.4));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(92, 58, 245, 0.4));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(92, 58, 245, 0.4));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(92, 58, 245, 0.4));
    /* Standard syntax */
  }

.navbar-expand-lg {
    background: #faea0d88 !important;
}


.card {
    background:  #aa753938;
}

.text-field {
    background:  #ce8d4438;
}

.h-100 {
    transition: all 1s;
}

.h-100:hover {
    transform: scale(1.1);
}

.card-sm {
    border-left: 3px solid rgba(243, 247, 38, 0.76);   
}

.row {
    margin-bottom: 30px;
}

hr {
    max-width: 200px;
}

.btn {
    background: rgba(28, 7, 124, 0.822);
    border-color: rgb(28, 7, 124, 0.822);
    padding-bottom: 12px;
    box-shadow: 1px 1px 15px gray;
}

.btn:hover {
    background: rgb(28, 7, 124);
    border:   1px solid rgb(28, 7, 124);
}

.bi {
    color: rgba(28, 7, 124, 0.822);
}

footer {
    background: rgba(9, 2, 39, 0.822) !important;
}

.footer-logo {
    display: flex;
}